body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
body * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

.page-scroller-info {
  position: fixed;
  z-index: 99;
  display: flex;
}

.info-block {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.info-block p {
  margin: 0;
}

.page {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-number {
  font-size: 300%;
  color: black;
}

.page-nav {
  height: 50px;
  /*width: 100vw;*/

  border: 2px solid white;

  position: fixed;

  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: flex-end;
}

.page-nav-button {
  padding: 10px;
  margin: 10px;
  color: white;
  border: 2px solid white;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.section:nth-child(odd) {
  background-color: #f0f0f0;
}

.section:nth-child(even) {
  background-color: #dddddd;
}

.container {
  padding: 44px 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 0px;
  height: 100px;
}
.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.nav-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}

.navbar {
  /* height: 60px; */
  background-color: #1f283d;
  position: relative;
}
.contact-btn {
  background: #84d7e9;
  padding: 16px 32px;
  border-radius: 32px;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  border: none;
}
.login-btn {
  color: white;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 32px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
.login-btn img {
  height: 20px;
  width: 20px;
  filter: invert(1);
}

.logo {
  border-radius: 100%;
  width: 55px;
  height: 55px;
  overflow: hidden;
}

.logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.menu-icon {
  display: none;
}

.nav-elements {
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #989ca3;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  /* background-color: #574c4c; */
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fef7e5;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page-container {
  /* height: 100%; */
  width: 100% !important;
}
.circle-img {
  border-radius: 100%;
  overflow: hidden;
}

.swiper-pagination-bullet {
  background-color: #2d4450 !important;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  /* top: 600px !important; */
}
.pointWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 32px;
}
